.btn {
  display: inline-block;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 14px;
  padding-left: 24px;

  font: medium 13px/16px $font-stack;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-decoration: none;
  text-transform: none;
  vertical-align: top;

  background-color: #E9ECEF;
  border-style: none;
  border-radius: 4px;

  &:active {
    background-color: #c7cdd2;
  }

  &:disabled {
    color: #000000; 
    color: rgba(0, 0, 0, 0.2);
    pointer-events: none;
    cursor: default;

    background-color: #E9ECEF;
  }
  
  &--primary {
    color: #ffffff;

    background-color: #007DFF;
  
    &:active {
      background-color: #0059FF;
    }
  }
  
  &--primary-big {
    padding-right: 32px;
    padding-left: 32px;
  }

  &--round {
    margin: 0;
    padding: 0;

    border-radius: 50%;
  }
}

.btn__icon {
  opacity: .43;

  &:active {
    opacity: 1;
  }
}

.btn--few-btn:first-child {
  margin-left: 0;
}

@media #{$desktop-width} {
  .btn {
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;

    font: medium 13px/16px $font-stack;
    
    &:hover {
      background-color: #dde0e3;
    }

    &--round {
      margin: 0;
      padding: 0;
    }
    

    &--primary {
      color: #ffffff;
  
      background-color: #007DFF;
    
      &:active {
        background-color: #0059FF;
      }

      &:hover {
        background-color: #0B00FF;
      }
      
    }
  }

  .btn__icon {
    &:hover {
      opacity: 1;
    }
  }
}
