.calendar {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #000000;

  background: #ffffff;
  border-bottom: 1px solid #e9ecef;
}

.calendar__button {
  position: relative;

  width: 30px;
  height: 30px;

  &--next {
    transform: scale(-1, 1);
  }
}

.calendar__button-icon {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 9px;
  height: 14px;

  transform: translate(-50%, -50%);
}

.calendar__data {
  width: 150px;
  margin: 0;
  margin-right: 58px;
  margin-left: 58px;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 20px;

  font: normal 15px/18px "HelveticaNeue-Medium", $font-stack;
  text-align: center;
}

.calendar__data a {
  font: 600 15px/18px $font-stack;
  color: #000000;
  text-decoration: none;
}

.calendar__today {

  &::before {
    content: ' · ';
  }
}

.calendar__date-picker {
  position: absolute;
  top: 55px;
  left: 50%;
  z-index: 1000;

  width: 360px;
  margin-left: -180px;
}


@media #{$desktop-width} {
  .calendar__button {
    width: 24px;
    height: 24px;
  }

  .calendar__button-icon {
    width: 7px;
    height: 11px;
    
    border-top: 6.5px solid transparent; 
    border-right: 8.5px solid transparent;  
    border-bottom: 6.5px solid transparent;
    border-left: 8.5px solid transparent;  
    
    background-clip: padding-box;
  }

  .calendar__data {
    width: 124px;
    margin-right: 13px;
    margin-left: 13px;
    padding-top: 13px;
    padding-bottom: 14px;
  }

  .calendar__data--pressed a {
    font-weight: bold;
    color: #0070E0;
  }
  
  .calendar__date-picker {
    top: 45px;
    left: 0;
    z-index: 1000;
    
    margin: 0;
  }
}
