.calendar {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 360px;
}

.calendar__button {
  position: relative;

  width: 30px;
  height: 30px;

  &--next {
    transform: scale(-1, 1);
  }
}

.calendar__button:hover .calendar__button-icon {
  opacity: 1;
}

.calendar__button-icon {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 9px;
  height: 14px;
  margin-top: -7px;
  margin-left: -6.5px;

  opacity: .43;
}

.calendar__data {
  width: 150px;
  margin: 0;
  margin-right: 58px;
  margin-left: 58px;
  padding: 0;
  padding-top: 17px;
  padding-bottom: 20px;

  font: medium 15px/18px "HelveticaNeue-Medium", $font-stack;
  text-align: center;
}

.calendar__data a {
  font: 600 15px/18px $font-stack;
  color: #000000;
  text-decoration: none;
}

.calendar__today {

  &::before {
    content: ' · ';
  }
}

.calendar__date-picker {
  position: absolute;
  left: 50%;
  z-index: 1001;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 360px;
  margin-left: -180px;

  background: #FFFFFF;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 1px 16px 0 rgba(0,44,92,0.28);
}

.calendar__picked-mounth {
  width: 200px;

  font: bold 20px/25px $font-stack;
  text-align: center;
}

.calendar__picked-mounth::first-letter {
  text-transform: uppercase;
}

.calendar__weekdays {
  @include reset-list();
  flex-basis: 100%;
  margin: 0;
  padding: 10px 0;

  font-size: 0;
  line-height: 0;

  background-color: #DDE0E4;
}

.calendar__weekday {
  display: inline-block;
  width: 51.42px;

  font: bold 15px/17px $font-stack;
  color: #666;
  text-align: center;
}

.calendar__days {
  @include reset-list();
  margin: 0;
  padding: 10px 0;

  font-size: 0;
  line-height: 0;
}

.calendar__day {
  display: inline-block;
  width: 14.28%;

  font: bold 15px/17px $font-stack;
  color: #666;
  text-align: center;
  vertical-align: middle;

  &--active {
    color: #005CFF;
  }
}


.calendar__day a {
  display: inline-block;
  width: 50px;
  
  font: bold 15px/50px $font-stack;
  color: #000000;
  text-align: center;
  text-decoration: none;
  
  border-radius: 50%;

  &:hover {
    color: #000000;

    background-color: #E9ECEF;
  }

  &:active {
    color: #ffffff;

    background-color: #005CFF;
  }
}

.calendar__day--active span {
  display: inline-block;
  width: 50px;
  height: 50px;

  font: bold 15px/50px $font-stack;
  color: #ffffff;
  text-align: center;

  background-color: #005CFF;
  border-radius: 50%;
}

@media #{$desktop-width} {
  .calendar {
    min-width: 210px;
  }

  .calendar__button {
    width: 24px;
    height: 24px;
  }

  .calendar__button-icon {
    width: 7px;
    height: 11px;
    margin-top: -5.5px;
    margin-left: -4.5px;
  }

  .calendar__data {
    width: 124px;
    margin-right: 13px;
    margin-left: 13px;
    padding-top: 13px;
    padding-bottom: 14px;
  }

  .calendar__data--pressed a {
    font-weight: bold;
    color: #0070E0;
  }
  
  .calendar__date-picker {
    top: 45px;
    left: 0;
    z-index: 1000;
    
    margin: 0;
  }
}
