.clock {
  @include reset-list();
  display: flex;

  background: #ffffff;
}

.clock__scale {
  display: flex;
  flex-basis: 100%;
  margin: 0;
  padding: 0;
  

  list-style: none;

  background-color: #ffffff;
}

.clock__item-hour {
  position: relative;

  flex-grow: 66;
  flex-shrink: 0;
  flex-basis: 66px;

  font: bold 11px/32px $font-stack;
  letter-spacing: 0.4px;
  color: #858e98;
  text-align: center;
  vertical-align: top;

  background-color: #ffffff;

  &::before {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 100;

    width: 1px;
    min-height: calc(100vh - 137px);
    
    background-color: #e9ecef;
    content: " ";

    transform: translate(-50%, 0);
  }

  &--next {
    color: #262626;
  }
}

.clock__current-hour {
  position: absolute;
  top: 0;
  z-index: 9000;

  display: inline-block;
  width: 49px;
  margin-top: 7px;

  font: bold 11px/20px $font-stack;
  color: #ffffff;

  background-color: #007dff;
  border-radius: 100px;
  transform: translate(-50%, 0);

  &::before {
    min-height: calc(100vh - 132px);

    background-color: #007dff;
  }
}


@media #{$desktop-width} {
  .clock__item-hour {
    line-height: 45px;

    &::before {
      min-height: calc(100vh - 118px);
    }
  }

  .clock__current-hour {
    margin-top: 14px;

    line-height: 20px;
  
    &::before {
      min-height: calc(100vh - 106px);
    }
  }

  .clock__timeline {
    &::before {
      top: 0;

      height: calc(100vh - 119px);
    }
    &--now {
      top: 34px;

      height: calc(100% - 34px);
      margin-left: 251px;
    }
  }
}
