.content {
  position: relative;

  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  min-width: 1237px;

  background-color: #f7f8f9;
}

.content__list-floors {
  position: relative;
  left: 0;
  z-index: 1000;

  flex-grow: 0;
  flex-shrink: 0;
  width: 181px;
  padding-top: 16px;

  &--compact {
    position: sticky;
  }
}

.content__list-slot {
  width: 100%;
  padding-top: 37px;
}

.content__tooltip {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
}

.content__tooltip-arrow {
  position: absolute;
  top: -16px;
  left: 50%;

  transform: translate(-50%, 0);
}

.content__slot { 
  position: relative; 

  height: 58px;
  margin-bottom: 2px;

  &:active {
    z-index: 2000;
  }

  &--active {
    z-index: 2000;
  }
}

.content__floor {
  margin-bottom: 43px;
}

.content__floor:last-child {
  margin-bottom: 0;
}

@media #{$desktop-width} {
  .content {
    min-width: 1302px;
  }

  .content__list-floors {
    background-color: #ffffff;
  }

  .content__list-slot {
    padding-top: 47px;
  }

  .content__slot {
    height: 28px;
    margin-bottom: 24px;

    &:hover {
      z-index: 2000;
    }
  }

  .content__floor {
    margin-bottom: 28px;
  }

  .content__floor:last-child {
    margin-bottom: 0;
  }
}
