.date-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background: #ffffff;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 1px 16px 0 rgba(0,44,92,0.28);
}

.date-picker__button {
  position: relative;

  width: 30px;
  height: 30px;

  &--next {
    transform: scale(-1, 1);
  }
}

.date-picker__button-icon {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 9px;
  height: 14px;

  transform: translate(-50%, -50%);
}

.date-picker__picked-mounth {
  width: 200px;

  font: bold 15px/24px $font-stack;
  text-align: center;
}

.date-picker__picked-mounth::first-letter {
  text-transform: uppercase;
}

.date-picker__weekdays {
  @include reset-list();
  flex-basis: 100%;
  margin: 0;
  padding: 10px 0;

  font-size: 0;
  line-height: 0;

  background-color: #DDE0E4;
}

.date-picker__weekday {
  display: inline-block;
  width: 51.42px;

  font: bold 15px/17px $font-stack;
  color: #666;
  text-align: center;
}

.date-picker__days {
  @include reset-list();
  margin: 0;
  padding: 10px 0;

  font-size: 0;
  line-height: 0;
}

.date-picker__day {
  display: inline-block;
  width: 14.28%;

  font: bold 15px/17px $font-stack;
  color: #666;
  text-align: center;
  vertical-align: middle;

  &--active {
    color: #005CFF;
  }
}


.date-picker__day a {
  display: inline-block;
  width: 50px;
  
  font: bold 15px/50px $font-stack;
  color: #000000;
  text-align: center;
  text-decoration: none;
  
  border-radius: 50%;

  &:hover {
    color: #000000;

    background-color: #E9ECEF;
  }

  &:active {
    color: #ffffff;

    background-color: #005CFF;
  }
}

.date-picker__day--active span {
  display: inline-block;
  width: 50px;
  height: 50px;

  font: bold 15px/50px $font-stack;
  color: #ffffff;
  text-align: center;

  background-color: #005CFF;
  border-radius: 50%;
}

@media #{$desktop-width} {
  .date-picker__button {
    width: 24px;
    height: 24px;
  }

  .date-picker__button-icon {
    width: 7px;
    height: 11px;
    
    border-top: 6.5px solid transparent; 
    border-right: 8.5px solid transparent;  
    border-bottom: 6.5px solid transparent;
    border-left: 8.5px solid transparent;  
    
    background-clip: padding-box;
  }
}
