.form-meeting {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

.form-meeting__body {
  flex: 1;
}

.form-meeting__button-close-form {
  display: none;
}

.form-meeting__headline {
  flex: 1 0 100%;
  margin: 0;
  margin-top: 24px;
}

.form-meeting__h1 {
  margin: 0;
  padding-right: 16px;
  padding-left: 16px;

  font: bold 20px/24px $font-stack;
  letter-spacing: 0;
  color: #000000;
}

.form-meeting__section {
  margin: 0;
  padding: 0;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 20px;
  padding-left: 16px;

  border: none;
  border-bottom: 8px solid #E9ECEF;

  &--theme {
    padding-bottom: 0;
    
    border: none;
  }
}

.form-meeting__legend {
  display: block; 
  margin: 0;
  margin-bottom: 4px;

  font: bold 13px/16px $font-stack;
  letter-spacing: 0;
  color: #000000;
}

.form-meeting__day {
  margin-bottom: 8px;
}

.form-meeting__offset {
  width: 100%;
  height: 8px;

  background: #E9ECEF;
}

.form-meeting__container-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding-bottom: 16px;

  background-color: #ffffff;
}

.form-meeting__paragraph {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 16px;

  font: bold 15px/18px $font-stack;
  color: #ffffff;

  background: rgba(0,16,33,0.74);
}

.form-meeting__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.form-meeting__list-members {
  padding-top: 10px;
}

.form-meeting__item {
  margin-bottom: 8px;

  &:last-child {
    margin: 0;
  }
}

.form-meeting__alert-container {
  width: 100%;
  margin-bottom: 16px;

  border-bottom: 8px solid #E9ECEF;
}

.form-meeting__footer {
  position: sticky; 
  bottom: 0;
  z-index: 1000;

  background: transparent;

  &--mobile-static {
    position: static;
  }
}

.form-meeting__desktop-visible {
  display: none;
}

@media #{$mobile-width-only} {
  .form-meeting__alert-btn {
    width: 100%;
    padding: 16px 0 20px 0;

    color: #ff3333;
  
    background-color: #fff;
    border-radius: 0;
  }

  .form-meeting__primary-btn {
    color: #fff;

    background-color: #007DFF;

    &:active {
      background-color: #007DFF;
    }
  }

  .form-meeting__create-btn {
    width: 238px;
    margin-top: 16px;
  }
}

@media #{$desktop-width} {
  .form-meeting__body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    width: 872px;
    margin: 0 auto;
  }

  .form-meeting__headline {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 20px;
    padding-right: 0;
    padding-left: 0;
  }

  .form-meeting__h1 {
    flex: 1;
    padding: 0;
  }

  .form-meeting__close-btn {
    display: block;
    width: 24px;
    height: 24px;
  }

  .form-meeting__close-icon {
    width: 10px;
    height: 10px;
  }

  .form-meeting__section {
    flex-basis: 420px;
    margin-top: 0;
    margin-bottom: 24px;
    padding: 0;

    border: none;
  }

  .form-meeting__date {
    display: flex;
  }

  .form-meeting__day {
    flex: 1 0 238px;
    margin-right: 16px;
    margin-bottom: 0;
  }

  .input-field__time {
    flex: 1 0;
    width: 166px;
  }

  .form-meeting__list-members {
    display: flex;
    flex-flow: row wrap;
    padding-top: 12px;
  }

  .form-meeting__item-members {
    margin-right: 8px;
  }

  .form-meeting__footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;

    border-top: 1px solid #e9ecef; 
  }

  .form-meeting__container-btn {
    padding-top: 20px;
  }

  .form-meeting__alert-container {
    width: auto;
    margin: 0;
    margin-right: 16px;
    
    border-bottom: none;
  }

  .form-meeting__btn {
    order: -1;
  }

  .form-meeting__paragraph {
    display: none;
  }

  .form-meeting__desktop-visible {
    display: block;
  }
}
