.form-meeting {
  position: relative;

  display: flex;
  flex-flow: column;
}

.form-meeting__button-close-form {
  display: none;
}

.form-meeting__headline {
  flex: 1 0 100%;
  margin: 0;
  margin-top: 24px;
}

.form-meeting__h1 {
  padding-right: 16px;
  padding-left: 16px;

  font: bold 20px/24px "HelveticaNeue-Bold;",$font-stack;
  letter-spacing: 0;
  color: #000000;
}

.form-meeting__section {
  margin: 0;
  padding: 0;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 20px;
  padding-left: 16px;

  border: none;
  border-bottom: 8px solid #E9ECEF;

  &--theme {
    padding-bottom: 0;
    
    border: none;
  }

  &--no-pad {
    padding: 0;
  }
}

.form-meeting__legend {
  display: block; 
  margin: 0;
  margin-bottom: 4px;

  font: bold 13px/16px $font-stack;
  letter-spacing: 0;
  color: #000000;
}

.form-meeting__offset {
  width: 100%;
  height: 8px;

  background: #E9ECEF;
}

.form-meeting__container-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 20px;

  background-color: #ffffff;
}

.form-meeting__paragraph {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 16px;

  font: bold 15px/18px $font-stack;
  color: #ffffff;

  background: rgba(0,16,33,0.74);
}

.form-meeting__desktop-only {
  display: none;
}

.form-meeting__create-btn {
  width: 238px;
}

.form-meeting__edit-btn {
  margin-right: 16px;
}

.form-meeting__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.form-meeting__list-members {
  padding-top: 10px;
}

.form-meeting__item {
  margin-bottom: 8px;

  &:last-child {
    margin: 0;
  }
}

.form-meeting__alert-btn {
  width: 100%;
  
  border-top: 8px solid #E9ECEF;
  border-bottom: 8px solid #E9ECEF;
}

.form-meeting__footer {
  position: sticky; 
  bottom: 0;
  z-index: 1000;

  background: transparent;

  &--static {
    position: static;
  }
}

@media #{$desktop-width} {
  .form-meeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 31px;
    padding-bottom: 76px;
  }
  .form-meeting__headline {
    margin-bottom: 20px;
    padding-left: 0;
  }
  .form-meeting {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 872px;
    margin: 0 auto;
  }
  .form-meeting__section {
    flex-basis: 420px;
    margin-top: 0;
    margin-bottom: 24px;
    padding: 0;
  }
  .form-meeting__headline {
    flex-basis: 100%;
  }
  .form-meeting__offset {
    display: none;  
  }
  .form-meeting__btn-container {
    display: flex;
  }
  .form-meeting__btn-container,
  .form-meeting__create-meeting-container {
    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;

    background: #FFFFFF;
    box-shadow: 0 -1px 0 0 #E9ECEF;
  }
  .form-meeting__legend {
    width: 420px;
  }  
  .form-meeting__fixed-phrase {
    display: none;
  }
  .form-meeting__button-close-form {
    position: absolute;
    top: 16px;
    right: -16px;

    display: block;
  }  
}
