.input-field {
  display: flex;
  flex-direction: column;
}

.input-field__input {  
  width: 100%;

  padding-top: 11px;
  padding-right: 8px;
  padding-bottom: 12px;
  padding-left: 8px;

  font: normal 15px/17px $font-stack;
  letter-spacing: 0;
  text-decoration: none;

  border: 2px solid #E9ECEF;
  border-radius: 4px;
  box-sizing: border-box;

  -webkit-appearance: none;

  &--with-icon {
    padding-right: 44px;
  }
}

.input-field > input::placeholder {
  color: #858E98;
}

.input-field__time {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.input-field__interval {
  flex: 1 1;
}

.input-field__hyphen {
  width: 14px;
  height: 15px;
  margin-right: 4px;
  margin-left: 4px;

  &:before {
    content: '—';
  }
}

input:focus.input-field__input {
  border-color: #007DFF; 
  outline: none;
}

.input-field__label {
  display: block;
  padding-bottom: 4px;

  font: bold 13px/16px $font-stack;
  letter-spacing: 0;
  color: #000000;

  &--time {
    display: none;
  }
}

.input-field__control {
  position: relative;
}

.input-field__field-btn {
  position: absolute;
  top: 50%;
  right: 0;
  
  width: 44px;
  height: 44px;

  transform: translate(0, -50%);

  &--non-active {
    display: none;
  }
}

.input-field__field-icon {
  width: 12px;
  height: 12px;

  &--calendar {
    width: 12px;
    height: 12px;
  }

  &--arrow-up {
    width: 16px;
    height: 16px;

    transform: rotate(90deg);
    transform-origin: center top;
  }
}

.input-field__users-list {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 1000;

  max-height: 136px;
}

@media #{$desktop-width} {
  .input-field__input {
    padding-top: 9px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    font: normal 13px/15px $font-stack;
    letter-spacing: 0.47px;

    &--with-icon {
      padding-right: 38px;
    }
  }
  
  .input-field__hyphen::before {
    position: relative;
    top: 10px;
  }

  .input-field__text-time {
    display: none;  
  }

  .input-field__label {
    &--time {
      display: block;
    }
  }  

  input:hover.input-field__input {
    border-color: #007DFF; 
    outline: none;
  }

  .input-field__field-btn {
    width: 38px;
    height: 38px;
  }

  .input-field__field-icon {
    width: 10px;
    height: 10px;

    &--calendar {
      width: 12px;
      height: 12px;
    }

    &--arrow-up {
      width: 14px;
      height: 14px;
    }
  }
}
