.list-slot {
  margin: 0;
  padding: 0;

  list-style: none;
}

.list-slot__floor {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.list-slot__room {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.list-slot__slot {
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0;
  padding: 0;

  color: #000000;

  background-color: #ffffff;
  border: none;


  &--no-vacancy {
    background-color: #d5dfe9;
  }
  
  &--no-vacancy-active {
    background-color: #98a9b9;
  }

  &--active {
    background-color: #005cff;
  }
}

@media #{$desktop-width} {
  .list-slot__slot {
    position: relative;

    &:hover, &:focus {
      background-color: #1D54FE;
      border-radius: 3px;

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
  
        width: 12px;
        height: 12px;
  
        background-color: #ffffff;
  
        content: ' ';
        
        transform-origin: 0 0;
        transform: rotate(-45deg) translate(-50%, -50%);
        mask: url('../img/icons/close.svg') no-repeat;
        mask-size: cover;
      }
    }

    &--no-vacancy:hover, &--no-vacancy:focus {
      background-color: #98A9B9;
      border-radius: 0;

      &:before {
        display: none;
      }
    }

    &--no-vacancy-active {
      background-color: #8793a3;
    }

    &--no-vacancy-active:hover {
      background-color: #8793a3;
    }

    &--active {
      background-color: #1D00FE;
    }
  }
}
