.list-floors {
  display: flex;
  flex-flow: column nowrap;

  padding-top: 15px;
}

.list-floors__floor-number {
  @include reset-list();
  margin-bottom: 8px;
  margin-left: 16px;

  font: bold 11px/13px "HelveticaNeue-Bold", $font-stack;
  letter-spacing: 0.4px;
  color: #858e98;
  text-transform: uppercase;
}

.list-floors__floors {
  @include reset-list();
  margin-bottom: 24px;

  &--compact {
    margin-left: 16px;
  }
}

.list-floors__room {
  width: 181px;
  height: 58px;
  margin-bottom: 2px;
}


@media #{$desktop-width} {
  .list-floors {
    padding-top: 22px;

    border-right: 1px solid #E9ECEF;
  }

  .list-floors__floor-number {
    margin-bottom: 4px;
    margin-left: 25px;
  }

  .list-floors__floors {
    margin-bottom: 12px;
  }

  .list-floors__room {
    width: 245px;
    height: auto;
    margin-bottom: 8px;
  }
}
