.list-floors {
  display: flex;
  flex-flow: column nowrap;
}

.list-floors__floor-number {
  @include reset-list();
  padding-bottom: 8px;
  padding-left: 16px;

  font: bold 11px/13px "HelveticaNeue-Bold", $font-stack;
  letter-spacing: 0.4px;
  color: #858e98;
  text-transform: uppercase;
}

.list-floors__floors {
  @include reset-list();
  padding-bottom: 22px;
}

.list-floors__room {
  margin-bottom: 2px;
}

@media #{$mobile-width-only} {
  .list-floors__room {
    &--compact{
      padding-bottom: 35px;
      padding-left: 12px;
    }
  }
}


@media #{$desktop-width} {
  .list-floors {
    width: 245px;
    padding-top: 22px;

    border-right: 1px solid #E9ECEF;
  }

  .list-floors__floor-number {
    padding-bottom: 4px;
    padding-left: 25px;
  }

  .list-floors__floors {
    padding-bottom: 12px;
  }

  .list-floors__room { 
    margin-bottom: 8px;
  }
}
