.peregovorki-logo {
  display: flex;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;

  color: #000000;

  background-color: #ffffff;
  border-bottom: 1px solid #e9ecef;
}

.peregovorki-logo__link {
  display: block;

  line-height: 0;
}

.peregovorki-logo__img {
  width: 150px;
  height: 24px;
}

.peregovorki-logo__btn-create {
  display: none;
}

@media #{$desktop-width} {

  .peregovorki-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding-top: 18px;
    padding-right: 24px;
    padding-bottom: 17px;
    padding-left: 24px;
  }

  .peregovorki-logo__img {
    width: 175px;
    height: 26px;
  }

  .peregovorki-logo__btn-create {
    display: block;
    width: 140px; 
  }
}
