.peregovorka {
  padding-top: 14px;
  padding-right: 12px;
  padding-bottom: 13px;
  padding-left: 12px;

  font-size: 0;
  line-height: 0;
  color: #000000;

  background-color: #E9ECEF;
  border-radius: 4px;

  &--selected {
    padding-right: 44px;

    color: #ffffff;

    background-color: #007DFF;
  }
}

.peregovorka__time {
  margin-right: 12px;

  font: bold 15px/17px $font-stack;
  letter-spacing: 0;
}

.peregovorka__place {
  display: inline-block;
}

.peregovorka__name {
  font: normal 15px/17px $font-stack;
  letter-spacing: 0;

  &::after {
    content: ' · ';
  }
}

.peregovorka__floor {
  font: 15px/17px $font-stack;
}

.peregovorka__control {
  position: relative;
}

.peregovorka__field-btn {
  position: absolute;
  top: 50%;
  right: 0;
  
  width: 44px;
  height: 44px;

  transform: translate(0, -50%);
}

@media #{$desktop-width} {
  .peregovorka {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    &--selected {
      padding-right: 38px;
    }
  }
  .peregovorka,
  .peregovorka__time,
  .peregovorka__name,
  .peregovorka__place {
    font-size: 13px;
    line-height: 15px;
  }

  .peregovorka__field-btn {
    width: 38px;
    height: 38px;
  }
}
