.peregovorki-logo {
  display: flex;

  color: #000000;
  
  background-color: #ffffff;
}

.peregovorki-logo__link {
  display: block;
  margin-top: 14px;
  margin-bottom: 10px;
  margin-left: 20px;

  line-height: 0;
}

.peregovorki-logo__img {
  width: 150px;
  height: 24px;
}

.peregovorki-logo__btn-create {
  display: none;
}

@media #{$desktop-width} {
  .peregovorki-logo__link {
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 25px;
  }

  .peregovorki-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0;
  }

  .peregovorki-logo__img {
    width: 175px;
    height: 26px;
  }

  .peregovorki-logo__btn-create {
    display: block;
    width: 140px; 
    margin-right: 24px;

    box-sizing: border-box;
  }
}
