.peregovorki-header {
  @include clearfix;
  color: #000000;

  background-color: #ffffff;
}

.peregovorki-header__img {
  float: left;
  width: 150px;
  height: 22px;
  margin-top: 16px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.peregovorki-header__btn-create {
  display: none;
}

@media #{$desktop-width} {
  .peregovorki-header {
    height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0;
  }

  .peregovorki-header__img {
    width: 175px;
    height: 26px;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 25px;
  }

  .peregovorki-header__btn-create {
    display: block;
    float: right;
    padding-top: 18px;
    padding-right: 20px;
    padding-bottom: 17px;
  }
}
