.room-elem {
  padding: 12px 16px 10px 16px;

  color: #000000; 
  
  background-color: #ffffff;
  border-right: 1px solid #E9ECEF;

  &--disabled {
    color: #c7c7c7;
  }
}

.room-elem__name {
  margin: 0;
  padding: 0;
  overflow: hidden;

  font: normal 15px/19px "HelveticaNeue-Medium", $font-stack;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.room-elem__capacity {
  margin: 0;
  padding: 0;

  font: normal 13px/17px $font-stack;
}

@media #{$mobile-width-only} {
  .room-elem {
    &--compact {
      display: inline-block;
      width: auto;
      padding: 5px 8px;
  
      border-radius: 4px;
      box-shadow: 0 1px 8px 0 #002c5c;
      box-shadow: 0 1px 8px 0 rgba(0, 44, 92, 0.28);
    }
  }

  .room-elem--compact .room-elem__capacity {
    display: none;
  }

  .room-elem--compact .room-elem__name {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.4px;
  }
}

@media #{$desktop-width} {
  .room-elem {
    padding: 3px 25px 3px 25px;

    border: none;

    &--disabled {
      color: #858e98;
    }
    &--active {
      color: #0070e0;
    }
    &--pressed {
      color: #1d54fe;
    }
  }
  .room-elem__capacity {
    padding-top: 2px;

    font-size: 13px;
  }
  .room-elem--active .room-elem__capacity,
  .room-elem--pressed .room-elem__capacity {
    color: #000000;
  }
}
