.room-elem {
  width: auto;
  padding: 12px 25px 12px 15px;
  font: medium 15px/17px $font-stack;
  color: #000000; 
  background-color: #ffffff;

  &--disabled {
    color: #c7c7c7;
  }

  &--compact {
    display: inline-block;
    position: sticky;
    width: auto;
    left: 16px;
    height: 14px;
    padding: 5px 8px;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.4px;
    box-shadow: 0 1px 8px 0 #002c5c;
    box-shadow: 0 1px 8px 0 rgba(0, 44, 92, 0.28);
    border-radius: 4px;
  }
}

.room-elem__name {
  font-weight: bold;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.room-elem__capacity {
  margin: 0;
  padding: 0;
}

.room-elem--compact .room-elem__capacity {
  display: none;
}

@media #{$desktop-width} {
  .room-elem {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 24px;

    &--disabled {
      color: #858e98;
    }
    &--hover {
      color: #0070e0;
    }
    &--pressed {
      color: #1d54fe;
    }
  }
  .room-elem__capacity {
    font-size: 13px;
    padding-top: 2px;
  }
  .room-elem--hover .room-elem__capacity,
  .room-elem--pressed .room-elem__capacity {
    color: #000000;
  }
}
