.slot {
  position: relative;

  flex-grow: 1;
  flex-shrink: 0;

  color: #000000;

  background-color: #ffffff;

  &:active {
    z-index: 2000;

    background-color: #ffffff;
  }
  &--no-vacancy {
    background-color: #d5dfe9;
  }
  &--no-vacancy:active {
    z-index: 2000;

    background-color: #98a9b9;
  }
}

.slot.slot--active {
  background-color: #98a9b9;
}

.slot--active {
  background-color: #005cff;
}

@media #{$desktop-width} {
  .slot {

    &--no-vacancy:hover {
      z-index: 2000;
      
      background-color: #98a9b9;
      background-color: rgba(0, 0, 0, 0.12);
    }

    &--no-vacancy:active {
      background-color: #98a9b9;
      background-color: rgba(0, 0, 0, 0.12);
    }
  }

  .slot-list__slot.slot-list__slot--active {
    background-color: #ffffff;
  }
}
