.timetable {
  height: 100vh;
  min-width: 360px;
  overflow: auto;
}

.timetable__logo {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2000;
}

.timetable__calendar {
  position: sticky;
  top: 50px;
  left: 0;
  z-index: 2000;
}

.timetable__clock {
  @include reset-list();
  position: sticky;
  top: 105px;
  z-index: 2000;
}

.timetable__hour {
  &::before {
    min-height: calc(100vh - 137px);
  }
}

.timetable__content {
  min-height: calc(100vh - 137px);
}

@media #{$desktop-width} {
  .timetable {
    position: relative;
    
    overflow-x: hidden; 
  }

  .timetable__content {
    min-height: calc(100vh - 117px);
  }

  .timetable__hour {
    &::before {
      min-height: calc(100vh - 117px);
    }
  }

  .timetable__calendar {
    top: 72px;
    left: 0;
    z-index: 3000;

    width: 246px;
    height: 45px;
    margin-bottom: -46px;
  }

  .timetable__clock {
    top: 72px;
    
    height: 45px;
  }
}
