.timetable {
  height: 100vh;
  min-width: 360px;
  overflow: auto;
}

.timetable__form {
  flex: 1;
}

.timetable__logo {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2000;

  border-bottom: 1px solid #e9ecef;
}

.timetable__calendar {
  position: sticky;
  top: 50px;
  left: 0;
  z-index: 3000;

  border-bottom: 1px solid #e9ecef;
}

.timetable__clock {
  @include reset-list();
  position: sticky;
  top: 105px;
  z-index: 2000;
  
  min-width: 1238px;

  border-bottom: 1px solid #e9ecef;
}

.timetable__scale {
  position: relative;

  margin-left: 181px;
}

// .timetable__current-hour {
//   position: absolute;
//   top: 0;
//   z-index: 9000;

//   margin-top: 7px;

//   &::before {
//     min-height: calc(100vh - 132px);
//   }
// }

.timetable__content {
  min-height: calc(100vh - 138px);
}


@media #{$desktop-width} {
  .timetable {
    position: relative;
    
    overflow-x: hidden; 
  }

  .timetable__content {
    min-height: calc(100vh - 118px);
  }

  .timetable__calendar {
    top: 72px;
    left: 0;

    width: 246px;
    height: 45px;
    margin-bottom: -46px;
  }

  .timetable__clock {
    top: 72px;
    
    height: 45px;
  }

  .timetable__scale {
    margin-left: 246px;
  }

  // .timetable__current-hour {
  //   margin-top: 14px;

  //   &::before {
  //     min-height: calc(100vh - 106px);
  //   }
  // }
}
