.tooltip {
  filter: drop-shadow(0 1px 16px rgba(0,44,92,0.28));
}

.tooltip__body {
  width: 328px;
  padding: 16px;

  color: #000000;
  
  background: #FFFFFF;
  border-radius: 8px;
}

.tooltip__arrow {
  border: 8px solid transparent;
  border-bottom: 8px solid #ffffff; 
}

.tooltip__btn-edit {
  position: relative;
  
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.tooltip__edit {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 10px;
  height: 10px;

  transform: translate(-50%, -50%);
}

.tooltip__button-icon {
  position: relative;

  width: 10px;
  height: 10px;
}

.tooltip__header {
  display: flex;
  justify-content: space-between;
}

.tooltip__headline {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  
  font: bold 20px/24px $font-stack;
  letter-spacing: 0;
  color: #000000;
} 

.tooltip__place-and-data-info {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;

  font: normal 15px/17px $font-stack;
  letter-spacing: 0;
  color: #333333;
}

.tooltip__place-text {
  &::before {
    content: '· '
  }
}

.tooltip__list-members {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  font-size: 0;
  line-height: 0;
  letter-spacing: 0;
  color: #333333;
}

.tooltip__member-img {
  width: 32px;
  height: 32px;
  margin-right: 16px;

  border-radius: 50%;
}

.tooltip__members {
  margin: 0;
  padding: 0;

  font: normal 15px/17px $font-stack;
}

.tooltip__name-member {
  color: #000000;
}

.tooltip__other-members {
  color: #989A9C;
}


@media #{$desktop-width} {
  .tooltip__body {
    width: 306px;
  }
  .tooltip__headline {
    margin-bottom: 2px;

    font-size: 15px;
  }
  .tooltip__place-and-data-info {
    font-size: 13px;
    color: #000000;
  }
  .tooltip__member-img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  .tooltip__members {
    font-size: 13px;
  }

  .tooltip__edit {
    border: 7px solid transparent; 
    
    background-clip: padding-box;
  }
}
