.user-label {
  position: relative;

  width: 248px;
  padding-top: 7px;
  padding-right: 40px;
  padding-bottom: 8px;
  padding-left: 40px;

  color: #000000;

  background: #E9ECEF;
  border-radius: 16px;
}

.user-label__avatar {
  position: absolute;
  top: 50%;
  left: 0;

  display: block;
  width: 32px;  
  height: 32px;
  margin-top: -16px; 

  border-radius: 50%;
}

.user-label__name {
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-family: $font-stack;
  font-size: 15px;
  font-weight: normal;
  line-height: 17px;
  letter-spacing: 0; 
  text-overflow: ellipsis;
  white-space: nowrap; 
}

@media #{$desktop-width} {
  .user-label {
    display: inline-block;
    width: auto;
    padding-top: 4px;
    padding-right: 40px;
    padding-bottom: 5px;
    padding-left: 32px;
   
  }
  .user-label__avatar {
    width: 24px;  
    height: 24px;
    margin-top: -12px; 
  }
  .user-label__name {
    font-size: 13px;
    line-height: 15px;
  }
}