body {
  font: normal 14px/26px $font-stack;
  text-transform: none;
  color: $primary-color;
  background-color: $bg-color;
  text-align: left;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  @include container;
  padding-bottom: 20px;
  background-color: $bg-color;
}

.container {
  @include clearfix;
  min-width: 360px;
}

@media #{$desktop-width} {
  .container {
    margin: 0 auto;
  }
}