$bg-color: #ffffff;
$font-stack: "HelveticaNeue", Helvetica, Arial, sans-serif;
$primary-color: #000000;
$desktop-width: "(min-width: 1280px)";
$mobile-width-only: "(max-width: 1280px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
