doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Яндекс Переговорки
    link(rel="stylesheet", href="css/style.min.css")

  body.body
    
    div(style="display: none")
     include ./../../../build/img/symbols.svg

    .timetable
      header.timetable__logo
        .peregovorki-logo
          a(href="/" class="peregovorki-logo__link")
            img(class="peregovorki-logo__img" src="/img/logo.svg", alt="Яндекс Перговорки" width="150" height="22")

          button.btn.btn--primary.peregovorki-logo__btn-create Создать встречу
  
      
      aside.timetable__calendar
        .calendar
          button.btn.btn--round.calendar__button
            svg(class="btn__icon calendar__button-icon" viewbox="0 0 9 14")
              use(xlink:href="#arrow")

          .calendar__data 14 дек
            span.calendar__today Сегодня

          button.btn.btn--round.calendar__button.calendar__button--next
            svg(class="btn__icon calendar__button-icon" viewbox="0 0 9 14")
              use(xlink:href="#arrow")
          block calendar

      aside.timetable__clock
        .clock
          ul.clock__scale.timetable__scale
            li.clock__item-hour.timetable__hour
              span 8  
            li.clock__item-hour.clock__item-hour--next.timetable__hour
              span 9      
            li.clock__item-hour.clock__item-hour--next.timetable__hour
              span 10
            li.clock__item-hour.clock__item-hour--next.timetable__hour
              span 11
            li.clock__item-hour.clock__item-hour--next.timetable__hour
              span 12
            li.clock__item-hour.clock__item-hour--next.timetable__hour
              span 13
            li.clock__item-hour.clock__item-hour--next.timetable__hour
              span 14
            li.clock__item-hour.clock__item-hour--next.timetable__hour
              span 15
            li.clock__item-hour.clock__item-hour--next.timetable__hour
              span 16
            li.clock__item-hour.clock__item-hour--next.timetable__hour
              span 17
            li.clock__item-hour.clock__item-hour--next.timetable__hour
              span 18
            li.clock__item-hour.clock__item-hour--next.timetable__hour
              span 19
            li.clock__item-hour.clock__item-hour--next.timetable__hour
              span 20
            li.clock__item-hour.clock__item-hour--next.timetable__hour
              span 21
            li.clock__item-hour.clock__item-hour--next.timetable__hour
              span 22
            li.clock__item-hour.clock__item-hour--next.timetable__hour
              span 23
            li.clock__item-hour.clock__item-hour--current.timetable__current-hour(style="margin-left: calc(0.10416% * 35)")
              span 8:05
      
      main.content.timetable__content
        block list
          .list-floors.content__list-floors
            p.list-floors__floor-number 7 этаж
            ul.list-floors__floors
              li.list-floors__room 
                .room-elem.room-elem--disabled
                  p.room-elem__name Ржавый Фред
                  p.room-elem__capacity 3—6 человек
              li.list-floors__room 
                .room-elem
                  p.room-elem__name Прачечная
                  p.room-elem__capacity до 10 человек
              li.list-floors__room 
                .room-elem.room-elem--active 
                  p.room-elem__name Жёлтый дом
                  p.room-elem__capacity до 10 человек
              li.list-floors__room 
                .room-elem.room-elem--disabled
                  p.room-elem__name Оранжевый тюльпан
                  p.room-elem__capacity до 10 человек

            p.list-floors__floor-number 6 этаж
            ul.list-floors__floors
              li.list-floors__room 
                .room-elem
                  p.room-elem__name Джокер 
                  p.room-elem__capacity 3—6 человек
              li.list-floors__room 
                .room-elem
                  p.room-elem__name Мариванна 
                  p.room-elem__capacity 3—6 человек
              li.list-floors__room 
                .room-elem
                  p.room-elem__name Тонкий Боб
                  p.room-elem__capacity 3—6 человек
              li.list-floors__room 
                .room-elem
                  p.room-elem__name Чёрная вдова
                  p.room-elem__capacity 3—6 человек
              li.list-floors__room 
                .room-elem
                  p.room-elem__name Белорусский ликёр
                  p.room-elem__capacity 3—6 человек

        ul.list-slot.content__list-slot
          li.list-slot__floor.content__floor 
            .list-slot__room
              .list-slot__slot.list-slot__slot--no-vacancy.content__slot(style="flex-grow: 30")
              block mobile-tooltip
                .list-slot__slot.list-slot__slot--no-vacancy.content__slot(style="flex-grow: 99")
              .list-slot__slot.list-slot__slot--no-vacancy.content__slot(style="flex-grow: 66")
              .list-slot__slot.content__slot(style="flex-grow: 861")
            .list-slot__room
              .list-slot__slot.list-slot__slot--no-vacancy.content__slot
            .list-slot__room
              
              .list-slot__slot.list-slot__slot--no-vacancy.content__slot(style="flex-grow: 238")
              .list-slot__slot.content__slot(style="flex-grow: 57")
              .list-slot__slot.content__slot(style="flex-grow: 120")
              .list-slot__slot.list-slot__slot--no-vacancy.content__slot(style="flex-grow: 79")
              block desktop-tooltip
                .list-slot__slot.list-slot__slot--no-vacancy.content__slot(style="flex-grow: 131")
              .list-slot__slot.list-slot__slot--no-vacancy.content__slot(style="flex-grow: 431")
 
            .list-slot__room
              .list-slot__slot.list-slot__slot--no-vacancy.list-slot__slot.content__slot
          li.list-slot__floor.content__floor 
            .list-slot__room
              .list-slot__slot.content__slot(style="flex-grow: 33")
              .list-slot__slot.content__slot(style="flex-grow: 66")
              .list-slot__slot.content__slot(style="flex-grow: 66")
              .list-slot__slot.content__slot(style="flex-grow: 66")
              .list-slot__slot.content__slot(style="flex-grow: 66")
              .list-slot__slot.content__slot(style="flex-grow: 66")
              .list-slot__slot.content__slot(style="flex-grow: 66")
              .list-slot__slot.content__slot(style="flex-grow: 66")
              .list-slot__slot.content__slot(style="flex-grow: 66")
              .list-slot__slot.content__slot(style="flex-grow: 66")
              .list-slot__slot.content__slot(style="flex-grow: 66")
              .list-slot__slot.content__slot(style="flex-grow: 66")
              .list-slot__slot.content__slot(style="flex-grow: 66")
              .list-slot__slot.content__slot(style="flex-grow: 66")
              .list-slot__slot.content__slot(style="flex-grow: 66")
              .list-slot__slot.content__slot(style="flex-grow: 66")
              .list-slot__slot.content__slot(style="flex-grow: 33")
            .list-slot__room
              .list-slot__slot.list-slot__slot--no-vacancy.content__slot
            .list-slot__room
              .list-slot__slot.list-slot__slot--no-vacancy.content__slot
            .list-slot__room
              .list-slot__slot.list-slot__slot--no-vacancy.content__slot
            .list-slot__room
              .list-slot__slot.content__slot
