extends includes/main.pug

block calendar
  .calendar__date-picker
    .date-picker
      button.btn.btn--round.date-picker__button(type="button")
        span.visually-hidden Перейти к предыдущему месяцу
        svg(class="btn__icon date-picker__button-icon" viewbox="0 0 9 14")
          use(xlink:href="#arrow") 

      h2.date-picker__picked-mounth Декабрь 2018

      button.btn.btn--round.date-picker__button.date-picker__button--next(type="button")
        span.visually-hidden Перейти к следующему месяцу
        svg(class="btn__icon date-picker__button-icon" viewbox="0 0 9 14")
          use(xlink:href="#arrow") 

      ul.date-picker__weekdays
        li.date-picker__weekday Пн
        li.date-picker__weekday Вт
        li.date-picker__weekday Ср
        li.date-picker__weekday Чт
        li.date-picker__weekday Пт
        li.date-picker__weekday Сб
        li.date-picker__weekday Вс

      ul.date-picker__days
        li.date-picker__day
        li.date-picker__day
        li.date-picker__day
        li.date-picker__day

        - var n = 1;
        while n <= 12
          li.date-picker__day
            a(href="#" data-day="" + n)= n
          -n++
          
        li.date-picker__day.date-picker__day--active
          span 12

        - var n = 13;
        while n <= 31
          li.date-picker__day
            a(href="#" data-day="" + n)= n
          -n++
