extends includes/main.pug

block list
  .list-floors.content__list-floors.content__list-floors--compact
    p.list-floors__floor-number 7 этаж
    ul.list-floors__floors
      li.list-floors__room.list-floors__room--compact
        .room-elem.room-elem--compact.room-elem.room-elem--compact--disabled
          p.room-elem__name Ржавый Фред
          p.room-elem__capacity 3—6 человек
      li.list-floors__room.list-floors__room--compact 
        .room-elem.room-elem--compact
          p.room-elem__name Прачечная
          p.room-elem__capacity до 10 человек
      li.list-floors__room.list-floors__room--compact 
        .room-elem.room-elem--compact.room-elem.room-elem--compact--active 
          p.room-elem__name Жёлтый дом
          p.room-elem__capacity до 10 человек
      li.list-floors__room.list-floors__room--compact 
        .room-elem.room-elem--compact.room-elem.room-elem--compact--disabled
          p.room-elem__name Оранжевый тюльпан
          p.room-elem__capacity до 10 человек

    p.list-floors__floor-number 6 этаж
    ul.list-floors__floors
      li.list-floors__room.list-floors__room--compact 
        .room-elem.room-elem--compact
          p.room-elem__name Джокер 
          p.room-elem__capacity 3—6 человек
      li.list-floors__room.list-floors__room--compact 
        .room-elem.room-elem--compact
          p.room-elem__name Мариванна 
          p.room-elem__capacity 3—6 человек
      li.list-floors__room.list-floors__room--compact 
        .room-elem.room-elem--compact
          p.room-elem__name Тонкий Боб
          p.room-elem__capacity 3—6 человек
      li.list-floors__room.list-floors__room--compact 
        .room-elem.room-elem--compact
          p.room-elem__name Чёрная вдова
          p.room-elem__capacity 3—6 человек
      li.list-floors__room.list-floors__room--compact 
        .room-elem.room-elem--compact
          p.room-elem__name Белорусский ликёр
          p.room-elem__capacity 3—6 человек
block script
  script 
    include includes/scroll.js

