extends includes/main.pug

block list
  .list-floors.content__list-floors.content__list-floors--compact
    p.list-floors__floor-number 7 этаж
    ul.list-floors__floors
      li.list-floors__room.list-floors__room--compact
        .room-elem.room-elem--compact.room-elem.room-elem--disabled
          p.room-elem__name Ржавый Фред
          p.room-elem__capacity 3—6 человек
      li.list-floors__room.list-floors__room--compact 
        .room-elem.room-elem--compact
          p.room-elem__name Прачечная
          p.room-elem__capacity до 10 человек
      li.list-floors__room.list-floors__room--compact 
        .room-elem.room-elem--compact.room-elem.room-elem--compact--active 
          p.room-elem__name Жёлтый дом
          p.room-elem__capacity до 10 человек
      li.list-floors__room.list-floors__room--compact 
        .room-elem.room-elem--compact.room-elem.room-elem--disabled
          p.room-elem__name Оранжевый тюльпан
          p.room-elem__capacity до 10 человек

    p.list-floors__floor-number 6 этаж
    ul.list-floors__floors
      li.list-floors__room.list-floors__room--compact 
        .room-elem.room-elem--compact
          p.room-elem__name Джокер 
          p.room-elem__capacity 3—6 человек
      li.list-floors__room.list-floors__room--compact 
        .room-elem.room-elem--compact
          p.room-elem__name Мариванна 
          p.room-elem__capacity 3—6 человек
      li.list-floors__room.list-floors__room--compact 
        .room-elem.room-elem--compact
          p.room-elem__name Тонкий Боб
          p.room-elem__capacity 3—6 человек
      li.list-floors__room.list-floors__room--compact 
        .room-elem.room-elem--compact
          p.room-elem__name Чёрная вдова
          p.room-elem__capacity 3—6 человек
      li.list-floors__room.list-floors__room--compact 
        .room-elem.room-elem--compact
          p.room-elem__name Белорусский ликёр
          p.room-elem__capacity 3—6 человек

block clock
  .clock
    ul.clock__scale.timetable__scale
      li.clock__item-hour.timetable__hour
        span 8  
      li.clock__item-hour.timetable__hour
        span 9      
      li.clock__item-hour.timetable__hour
        span 10
      li.clock__item-hour.timetable__hour
        span 11
      li.clock__item-hour.clock__item-hour--next.timetable__hour
        span 12
      li.clock__item-hour.clock__item-hour--next.timetable__hour
        span 13
      li.clock__item-hour.clock__item-hour--next.timetable__hour
        span 14
      li.clock__item-hour.clock__item-hour--next.timetable__hour
        span 15
      li.clock__item-hour.clock__item-hour--next.timetable__hour
        span 16
      li.clock__item-hour.clock__item-hour--next.timetable__hour
        span 17
      li.clock__item-hour.clock__item-hour--next.timetable__hour
        span 18
      li.clock__item-hour.clock__item-hour--next.timetable__hour
        span 19
      li.clock__item-hour.clock__item-hour--next.timetable__hour
        span 20
      li.clock__item-hour.clock__item-hour--next.timetable__hour
        span 21
      li.clock__item-hour.clock__item-hour--next.timetable__hour
        span 22
      li.clock__item-hour.clock__item-hour--next.timetable__hour
        span 23
      li.clock__item-hour.clock__item-hour--current.timetable__current-hour(style="margin-left: calc(0.10416% * 215)")
        span 11:05

block script
  script 
    include includes/scroll-compact.js
