extends includes/main.pug

block desktop-tooltip
  .list-slot__slot.list-slot__slot--no-vacancy.list-slot__slot--no-vacancy-active(style="flex-grow: 131")
    .tooltip.content__tooltip(style="top: 295px; left: 636px")
      .tooltip__arrow.content__tooltip-arrow(style="margin-left: 0")
      .tooltip__body
        .tooltip__header
          h2.tooltip__headline Рассуждения о высоком
          button.btn.btn--round.tooltip__btn-edit(type="button")
            span.visually-hidden Редактировать
            svg.icon.icon--edit.btn__icon(width="10" height="10" viewbox="0 0 12 12")
              use(xlink:href="#edit")
        p.tooltip__place-and-data-info
          span.tooltip__data 14 декабря 
          span.tooltip__time 15:00—17:00 
          span.tooltip__place-text Ржавый Фред
        .tooltip__list-members
          img.tooltip__member-img(src="img/Darth-Vader-icon.png" alt="Дарт Вейдер")
          p.tooltip__members
            span.tooltip__name-member Дарт Вейдер 
            span.tooltip__other-members и 12 участников

block list
  .list-floors.content__list-floors
    p.list-floors__floor-number 7 этаж
    ul.list-floors__floors
      li.list-floors__room 
        .room-elem.room-elem--disabled
          p.room-elem__name Ржавый Фред
          p.room-elem__capacity 3—6 человек
      li.list-floors__room 
        .room-elem
          p.room-elem__name Прачечная
          p.room-elem__capacity до 10 человек
      li.list-floors__room 
        .room-elem.room-elem--active 
          p.room-elem__name Жёлтый дом
          p.room-elem__capacity до 10 человек
      li.list-floors__room 
        .room-elem.room-elem--disabled
          p.room-elem__name Оранжевый тюльпан
          p.room-elem__capacity до 10 человек

    p.list-floors__floor-number 6 этаж
    ul.list-floors__floors
      li.list-floors__room 
        .room-elem
          p.room-elem__name Джокер 
          p.room-elem__capacity 3—6 человек
      li.list-floors__room 
        .room-elem
          p.room-elem__name Мариванна 
          p.room-elem__capacity 3—6 человек
      li.list-floors__room 
        .room-elem
          p.room-elem__name Тонкий Боб
          p.room-elem__capacity 3—6 человек
      li.list-floors__room 
        .room-elem
          p.room-elem__name Чёрная вдова
          p.room-elem__capacity 3—6 человек
      li.list-floors__room 
        .room-elem
          p.room-elem__name Белорусский ликёр
          p.room-elem__capacity 3—6 человек
