extends includes/main.pug

block desktop-tooltip
  style
    include includes/desktop.css
  .list-slot__slot.list-slot__slot--no-vacancy.list-slot__slot--no-vacancy-active.content__slot.content__slot--active(style="flex-grow: 131")
    .tooltip.content__tooltip(style="top: 295px; left: 636px")
      .tooltip__arrow.content__tooltip-arrow(style="margin-left: 0")
      .tooltip__body
        .tooltip__header
          h2.tooltip__headline Рассуждения о высоком
          button.btn.btn--round.tooltip__btn-edit(type="button")
            svg(class="btn__icon tooltip__edit" viewbox="0 0 12 12")
              use(xlink:href="#edit")
        p.tooltip__place-and-data-info
          span.tooltip__data 14 декабря 
          span.tooltip__time 15:00—17:00 
          span.tooltip__place-text Ржавый Фред
        .tooltip__list-members
          img.tooltip__member-img(src="img/Darth-Vader-icon.png" alt="Дарт Вейдер")
          p.tooltip__members
            span.tooltip__name-member Дарт Вейдер 
            span.tooltip__other-members и 12 участников
