extends includes/form.pug
block members
  ul.form-meeting__list.form-meeting__list-members
    li.form-meeting__item.form-meeting__item-members
      .user-label.control
        p.user-label__name Лекс Лютор
        button.btn.btn--transparent.user-label__icon-btn(type="button")
          span.visually-hidden Удалить участника
          svg.btn__icon.user-label__icon(viewbox="0 0 12.5 12.5")
            use(xlink:href="#close")
        img.user-label__avatar(src="/img/Chewbacca-icon.png" alt="Лекс Лютор")
    li.form-meeting__item.form-meeting__item-members
      .user-label
        p.user-label__name Томас Андерсон
        button.btn.btn--transparent.user-label__icon-btn(type="button")
          span.visually-hidden Удалить участника
          svg.btn__icon.user-label__icon(viewbox="0 0 12.5 12.5")
            use(xlink:href="#close")
        img.user-label__avatar(src="/img/Luke-Skywalker-icon.png" alt="Кларк Кент")
    li.form-meeting__item.form-meeting__item-members
      .user-label
        p.user-label__name Дарт Вейдер
        button.btn.btn--transparent.user-label__icon-btn(type="button")
          span.visually-hidden Удалить участника
          svg.btn__icon.user-label__icon(viewbox="0 0 12.5 12.5")
            use(xlink:href="#close")
        img.user-label__avatar(src="/img/Luke-Skywalker-icon.png" alt="Кларк Кент")
