extends includes/form.pug
block list-members
  button.btn.btn--input.input-field__field-btn(type="button")
    span.visually-hidden Удалить
    svg.icon.icon--big.btn__icon.btn__icon--arrow-up(width="14" height="14" viewbox="0 0 14 14")
      use(xlink:href="#arrow")

  ul.list-users__list.input-field__users-list
    li.list-users__list-item
      a(href="#")
        img.list-users__item-avatar(src="img/Chewbacca-icon.png" alt="")
        span.list-users__name Лекс Лютер
        span.list-users__floor  7 этаж

    li.list-users__list-item 
      a(href="#")
        img.list-users__item-avatar(src="img/Chewbacca-icon.png" alt="")
        span.list-users__name Томас Андерсон 
        span.list-users__floor  2 этаж

    li.list-users__list-item 
      a(href="#")
        img.list-users__item-avatar(src="img/Chewbacca-icon.png" alt="")
        span.list-users__name Дарт Вейдер 
        span.list-users__floor  1 этаж

    li.list-users__list-item 
      a(href="#")
        img.list-users__item-avatar(src="img/Chewbacca-icon.png" alt="")
        span.list-users__name Кларк Кент
        span.list-users__floor  2 этаж

    li.list-users__list-item 
      a(href="#")
        img.list-users__item-avatar(src="img/Chewbacca-icon.png" alt="")
        span.list-users__name Кларк Кент
        span.list-users__floor  2 этаж

    li.list-users__list-item 
      a(href="#")
        img.list-users__item-avatar(src="img/Chewbacca-icon.png" alt="")
        span.list-users__name Кларк Кент
        span.list-users__floor  2 этаж

    li.list-users__list-item 
      a(href="#")
        img.list-users__item-avatar(src="img/Chewbacca-icon.png" alt="")
        span.list-users__name Кларк Кент
        span.list-users__floor  2 этаж

block rooms
  .form-meeting__section
    p.form-meeting__legend Ваша переговорка
    
    ul.form-meeting__list
      li.form-meeting__item
        .peregovorka.peregovorka--selected.peregovorka__control
          span.peregovorka__time 16:00—16:30
          .peregovorka__place
            span.peregovorka__name Готем
            span.peregovorka__floor 4 этаж
          button.btn.btn--input.peregovorka__field-btn(type="button")
            span.visually-hidden Удалить
            svg.icon.btn__icon.btn__icon--light(width="14" height="14" viewbox="0 0 14 14")
              use(xlink:href="#close")
