extends includes/form.pug
block list-members
  button.btn.btn--transparent.input-field__field-btn(type="button")
    svg.btn__icon.input-field__field-icon.input-field__field-icon--arrow-up(viewbox="0 0 24 24")
      use(xlink:href="#arrow")

  ul.list-users__list.input-field__users-list
    li.list-users__list-item
      a(href="#")
        img.list-users__item-avatar(src="/img/Chewbacca-icon.png" alt="")
        span.list-users__name Лекс Лютер
        span.list-users__floor  7 этаж

    li.list-users__list-item 
      a(href="#")
        img.list-users__item-avatar(src="/img/Chewbacca-icon.png" alt="")
        span.list-users__name Томас Андерсон 
        span.list-users__floor  2 этаж

    li.list-users__list-item 
      a(href="#")
        img.list-users__item-avatar(src="/img/Chewbacca-icon.png" alt="")
        span.list-users__name Дарт Вейдер 
        span.list-users__floor  1 этаж

    li.list-users__list-item 
      a(href="#")
        img.list-users__item-avatar(src="/img/Chewbacca-icon.png" alt="")
        span.list-users__name Кларк Кент
        span.list-users__floor  2 этаж

    li.list-users__list-item 
      a(href="#")
        img.list-users__item-avatar(src="/img/Chewbacca-icon.png" alt="")
        span.list-users__name Кларк Кент
        span.list-users__floor  2 этаж

    li.list-users__list-item 
      a(href="#")
        img.list-users__item-avatar(src="/img/Chewbacca-icon.png" alt="")
        span.list-users__name Кларк Кент
        span.list-users__floor  2 этаж

    li.list-users__list-item 
      a(href="#")
        img.list-users__item-avatar(src="/img/Chewbacca-icon.png" alt="")
        span.list-users__name Кларк Кент
        span.list-users__floor  2 этаж
