extends includes/form.pug

block headline
  .form-meeting__headline 
    h1.form-meeting__h1 Редактирование встречи
    button.btn.btn--round.form-meeting__close-btn.form-meeting__desktop-visible(type="button")
      span.visually-hidden Закрыть форму
      svg.btn__icon.form-meeting__close-icon(viewbox="0 0 12.5 12.5")
        use(xlink:href="#close")

block inputTheme
  input.input-field__input.input-field__input--with-icon(placeholder="О чём будете говорить?" autocomplete="off" type="text" name="theme" id="theme")
  button.btn.btn--transparent.input-field__field-btn(type="button")
    span.visually-hidden Очичтить поле
    svg.btn__icon.input-field__field-icon(viewbox="0 0 12.5 12.5")
      use(xlink:href="#close")

block members
  ul.form-meeting__list.form-meeting__list-members
    li.form-meeting__item.form-meeting__item-members
      .user-label.control
        p.user-label__name Лекс Лютор
        button.btn.btn--transparent.user-label__icon-btn(type="button")
          span.visually-hidden Удалить участника
          svg.btn__icon.user-label__icon(viewbox="0 0 12.5 12.5")
            use(xlink:href="#close")
        img.user-label__avatar(src="/img/Chewbacca-icon.png" alt="Лекс Лютор")
    li.form-meeting__item.form-meeting__item-members
      .user-label
        p.user-label__name Томас Андерсон
        button.btn.btn--transparent.user-label__icon-btn(type="button")
          span.visually-hidden Удалить участника
          svg.btn__icon.user-label__icon(viewbox="0 0 12.5 12.5")
            use(xlink:href="#close")
        img.user-label__avatar(src="/img/Luke-Skywalker-icon.png" alt="Кларк Кент")
    li.form-meeting__item.form-meeting__item-members
      .user-label
        p.user-label__name Дарт Вейдер
        button.btn.btn--transparent.user-label__icon-btn(type="button")
          span.visually-hidden Удалить участника
          svg.btn__icon.user-label__icon(viewbox="0 0 12.5 12.5")
            use(xlink:href="#close")
        img.user-label__avatar(src="/img/Luke-Skywalker-icon.png" alt="Кларк Кент")

block rooms
  .form-meeting__section
    p.form-meeting__legend Ваша переговорка
    
    ul.form-meeting__list
      li.form-meeting__item
        .peregovorka.peregovorka--selected.peregovorka__control
          span.peregovorka__time 16:00—16:30
          .peregovorka__place
            span.peregovorka__name Готем
            span.peregovorka__floor 4 этаж
          button.btn.btn--transparent.peregovorka__field-btn(type="button")
            span.visually-hidden Удалить
            svg.btn__icon.btn__icon--light.peregovorka__field-icon(viewbox="0 0 12.5 12.5")
              use(xlink:href="#close")
              
block footer
  .form-meeting__footer.form-meeting__footer--mobile-static
    .form-meeting__container-btn
      .form-meeting__alert-container
        button.btn.form-meeting__alert-btn(type="button") Удалить встречу
      .buttons-group.form-meeting__btn
        button.btn.buttons-group__mr(type="button") Отмена
      button.btn.form-meeting__primary-btn(type="submit") Сохранить
