extends includes/form.pug
block list-members
  button.btn.btn--transparent.input-field__field-btn(type="button")
    span.visually-hidden Удалить участника
    svg.btn__icon.input-field__field-icon.input-field__field-icon--arrow-up(viewbox="0 0 24 24")
      use(xlink:href="#arrow")

  ul.list-users__list.input-field__users-list
    li.list-users__list-item
      a(href="#")
        img.list-users__item-avatar(src="img/Chewbacca-icon.png" alt="")
        span.list-users__name Лекс Лютер
        span.list-users__floor  7 этаж

    li.list-users__list-item 
      a(href="#")
        img.list-users__item-avatar(src="img/Chewbacca-icon.png" alt="")
        span.list-users__name Томас Андерсон 
        span.list-users__floor  2 этаж

    li.list-users__list-item 
      a(href="#")
        img.list-users__item-avatar(src="img/Chewbacca-icon.png" alt="")
        span.list-users__name Дарт Вейдер 
        span.list-users__floor  1 этаж

    li.list-users__list-item 
      a(href="#")
        img.list-users__item-avatar(src="img/Chewbacca-icon.png" alt="")
        span.list-users__name Кларк Кент
        span.list-users__floor  2 этаж

    li.list-users__list-item 
      a(href="#")
        img.list-users__item-avatar(src="img/Chewbacca-icon.png" alt="")
        span.list-users__name Кларк Кент
        span.list-users__floor  2 этаж

    li.list-users__list-item 
      a(href="#")
        img.list-users__item-avatar(src="img/Chewbacca-icon.png" alt="")
        span.list-users__name Кларк Кент
        span.list-users__floor  2 этаж

    li.list-users__list-item 
      a(href="#")
        img.list-users__item-avatar(src="img/Chewbacca-icon.png" alt="")
        span.list-users__name Кларк Кент
        span.list-users__floor  2 этаж

block rooms
  .form-meeting__section
    p.form-meeting__legend Ваша переговорка
    
    ul.form-meeting__list
      li.form-meeting__item
        .peregovorka.peregovorka--selected.peregovorka__control
          span.peregovorka__time 16:00—16:30
          .peregovorka__place
            span.peregovorka__name Готем
            span.peregovorka__floor 4 этаж
          button.btn.btn--transparent.peregovorka__field-btn(type="button")
            span.visually-hidden Удалить
            svg.btn__icon.btn__icon--light.peregovorka__field-icon(viewbox="0 0 12.5 12.5")
              use(xlink:href="#close")
              
