<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Яндекс Переговорки
    link(rel="stylesheet", href="css/style.min.css")

  body
    div(style="display: none")
     include ../../build/img/symbols.svg

    header.peregovorki-header
      a(href="#") 
        img(class="peregovorki-header__img" src="/img/logo.svg", alt="Яндекс Перговорки" width="150px" height="22px")

      .peregovorki-header__btn-create
        .btn.btn--primary Создать встречу
    
    main.timetable
      .calendar.timetable__calendar
        button.btn.btn--round.calendar__button
          svg(class="calendar__button-icon" viewbox="0 0 9 14")
            use(xlink:href="#arrow")

        .calendar__data 14 дек
          span.calendar__today Сегодня

        button.btn.btn--round.calendar__button.calendar__button--next
          svg(class="calendar__button-icon" viewbox="0 0 9 14")
            use(xlink:href="#arrow")
