<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Яндекс Переговорки
    link(rel="stylesheet", href="css/style.min.css")

  body
    .peregovorki-logo
      .peregovorki-container
        a(href="#") 
          img(class="peregovorki-logo__img" src="/img/icons/logo.svg", alt="Яндекс Перговорки" width="150px" height="22px")
      .peregovorki__btn-create
        .btn.btn--primary Создать встречу
    
    .timetable
      p asd
