<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Яндекс Переговорки
    link(rel="stylesheet", href="css/style.min.css")

  body
    
    div(style="display: none")
     include ../../build/img/symbols.svg

    .timetable
      header.timetable__header.peregovorki-header
        a(href="#") 
          img(class="peregovorki-header__img" src="/img/logo.svg", alt="Яндекс Перговорки" width="150px" height="22px")

        .peregovorki-header__btn-create
          .btn.btn--primary Создать встречу
  
      
      nav.calendar.timetable__calendar
        button.btn.btn--round.calendar__button
          svg(class="calendar__button-icon" viewbox="0 0 9 14")
            use(xlink:href="#arrow")

        .calendar__data 14 дек
          span.calendar__today Сегодня

        button.btn.btn--round.calendar__button.calendar__button--next
          svg(class="calendar__button-icon" viewbox="0 0 9 14")
            use(xlink:href="#arrow")

      ul.timetable__clock
          li.clock__item-hour
            span 8        
          li.clock__item-hour
            span 9      
          li.clock__item-hour
            span 10
          li.timetable__hour
            span 11
          li.timetable__hour
           span 12
          li.timetable__hour
            span 13
          li.timetable__hour
            span 14
          li.timetable__hour
            span 15
          li.timetable__hour
            span 16
          li.timetable__hour
            span 17
          li.timetable__hour
            span 18
          li.timetable__hour
            span 19
          li.timetable__hour
            span 20
          li.timetable__hour
            span 21
          li.timetable__hour
            span 22
          li.timetable__hour
            span 23
      
      main.timetable__content
        .list-floors.timetable__list-floors

          p.list-floors__floor-number 7 этаж
          ul.list-floors__floors
            li.list-floors__room 
              .room-elem.room-elem--disabled
                p.room-elem__name Ржавый Фред
                p.room-elem__capacity 3—6 человек
            li.list-floors__room 
              .room-elem
                p.room-elem__name Прачечная
                p.room-elem__capacity до 10 человек
            li.list-floors__room 
              .room-elem.room-elem--active 
                p.room-elem__name Жёлтый дом
                p.room-elem__capacity до 10 человек
            li.list-floors__room 
              .room-elem.room-elem--disabled
                p.room-elem__name Оранжевый тюльпан
                p.room-elem__capacity до 10 человек

          p.list-floors__floor-number 6 этаж
          ul.list-floors__floors
            li.list-floors__room 
              .room-elem
                p.room-elem__name Джокер 
                p.room-elem__capacity 3—6 человек
            li.list-floors__room 
              .room-elem
                p.room-elem__name Мариванна 
                p.room-elem__capacity 3—6 человек
            li.list-floors__room 
              .room-elem
                p.room-elem__name Тонкий Боб
                p.room-elem__capacity 3—6 человек
            li.list-floors__room 
              .room-elem
                p.room-elem__name Чёрная вдова
                p.room-elem__capacity 3—6 человек
            li.list-floors__room 
              .room-elem
                p.room-elem__name Белорусский ликёр
                p.room-elem__capacity 3—6 человек


        span(style="position: sticky") assd
