extends includes/form.pug
block modal
  .modal-content
    .modal-content__window
      svg.modal-content__icon
        use(xlink:href="#emoji1")
        
      h2.modal-content__alert 
        span.modal-content__first-row Встреча будет 
        span.modal-content__second-row удалена безвозвратно
      .modal-content__buttons
        .buttons-group
          button.btn.buttons-group__mr(type="button") Отмена
        button.btn(type="button") Удалить
